---
import Layout from '../layouts/Layout.astro'
import ResumeContainer from '../components/ResumeContainer.tsx'
---

<Layout title="ffxixslh's resume">
  <div
    id="container"
    class="my-0 mx-auto grid min-h-screen justify-items-center px-12 py-6 bg-gray-100"
  >
    <ResumeContainer client:idle />
  </div>
</Layout>

<style>
  img {
    box-sizing: border-box;
  }

  #container {
    width: 740px;
  }
</style>
